@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.appear,
.slow-appear {
  animation: fade-in;
}

.disappear,
.slow-disappear {
  animation: fade-out;
}

.appear,
.disappear {
  animation-duration: var(--medium-speed);
}

.slow-appear,
.slow-disappear {
  animation-duration: var(--slow-speed);
}
