.background {
  background-image: url("https://source.unsplash.com/random/1920x1080");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  color: var(--white);
  height: 100%;
  overflow: hidden;
}

.background__darkner {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0.5em;
}

main .background__calendar,
main .background__clock .clock__am-pm {
  text-transform: uppercase;
}

main .background__calendar {
  font-size: 2.5rem;
  margin-bottom: 0.1em;
}

main .background__clock .clock__numbers {
  font-size: 9rem;
  font-weight: bold;
  margin-right: 0.1em;
}

main .background__clock .clock__am-pm {
  font-size: 3.5rem;
}

main .background__greeting {
  font-size: 1.5rem;
}
