.background {
  background-image: url("https://source.unsplash.com/random/1920x1080");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  color: var(--white);
  height: 100%;
  overflow: hidden;
}

.background__darkner {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0.5em;
}

main .background__calendar,
main .background__clock .clock__am-pm {
  text-transform: uppercase;
}

main .background__clock {
  display: flex;
}

main .background__calendar {
  font-size: 2.5rem;
  margin-bottom: 0.1em;
}

main .background__clock .clock__numbers {
  font-size: 9rem;
  font-weight: bold;
  margin-right: 0.1em;
}

main .background__clock .clock__am-pm {
  font-size: 3.5rem;
  margin-top: 0.2em;
}

main .background__greeting {
  font-size: 1.5rem;
}

.background__navigation {
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 3em;
}

.background__navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background__navigation ul li {
  margin: 1em auto;
}

.background__navigation ul li {
  margin-left: 0.2em;
}

.background__navigation ul div li:first-child {
  margin-left: 0.1em;
}

.background__navigation ul li button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.8rem;
}

.background__navigation ul li button:hover {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transition: color 0.5s ease-in;
}

.background__setting {
  position: fixed;
}

.red-text {
  color: #f84240;
}

@media screen and (max-width: 350px) {
  main .background__clock .clock__numbers {
    font-size: 7rem;
  }
}

@media screen and (max-width: 250px) {
  main,
  .background__navigation {
    display: none;
  }
}
