.background {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("https://source.unsplash.com/random/1920x1080");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .background__calendar,
main .background__clock .clock__am-pm {
  text-transform: uppercase;
}

main .background__calendar {
  font-size: 3rem;
  margin-bottom: 0.1em;
}

main .background__clock {
  font-size: 8rem;
  font-weight: bold;
}

main .background__clock .clock__numbers {
  margin-right: -0.2em;
}

main .background__clock .clock__am-pm {
  font-size: 2rem;
}

main .background__greeting {
  font-size: 1.5rem;
}
