.background__setting {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  text-transform: uppercase;
}

.background__setting * {
  margin: 0.5em auto;
}

.background__setting .setting__rename .rename__input {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: var(--white);
  font-family: var(--font);
  text-align: center;
  width: 12em;
}

/* TODO: Remove animation of switches when resizing screen
   border-radius, width, height
*/

.background__setting .twenty-four-hour__toggle,
.background__setting .dark-theme__toggle,
.background__setting .setting__left-menu {
  display: inline-block;
  height: 2.2em;
  position: relative;
  width: 2.6em;
}

.twenty-four-hour__toggle .toggle__switch,
.dark-theme__toggle .toggle__switch,
.setting__left-menu .left-menu__switch {
  height: 0;
  opacity: 0;
  width: 0;
}

.twenty-four-hour__toggle .toggle__slider,
.dark-theme__toggle .toggle__slider,
.setting__left-menu .left-menu__slider {
  background-color: var(--white);
  border-radius: 0.6em;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.twenty-four-hour__toggle .toggle__slider::before,
.dark-theme__toggle .toggle__slider::before,
.setting__left-menu .left-menu__slider::before {
  background-color: rgb(180, 180, 180);
  border-radius: 50%;
  bottom: 0.15em;
  content: "";
  height: 0.9em;
  left: 0.15em;
  position: absolute;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  width: 0.9em;
}

.toggle__switch:checked + .toggle__slider,
.toggle__switch:checked + .toggle__slider,
.left-menu__switch:checked + .left-menu__slider {
  background-color: #72e07b;
}

.toggle__switch:checked + .toggle__slider::before,
.toggle__switch:checked + .toggle__slider::before,
.left-menu__switch:checked + .left-menu__slider::before {
  transform: translateX(1.4em);
  -ms-transform: translateX(1.4em);
  -webkit-transform: translateX(1.4em);
}

.setting__reset {
  background-color: #f2480d;
  border: none;
  border-radius: 0.7em;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font);
  font-size: 1.2rem;
  height: 1.5em;
  text-transform: uppercase;
  width: 4em;
}

@media screen and (max-width: 260px) {
  .background__setting {
    display: none;
  }
}
