/* TODO: (fix) rename input focused when clicking reset btn */
/* TODO: Check if reset button is clicked when rename input focused */

.background__setting {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  text-transform: uppercase;
}

.background__setting div:not(:first-child) h3,
.background__setting label,
.background__setting button,
.background__setting .setting__rename * {
  margin: 0.5em;
}

.background__setting .setting__rename,
.background__setting .setting__twenty-four-hour,
.background__setting .setting__dark-theme,
.background__setting .setting__left-menu,
.background__setting .setting__reset {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* TODO: Reduce input height on smaller screen */
.background__setting .setting__rename .rename__input {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 2em;
  color: var(--white);
  font-family: var(--font);
  font-size: 1.2rem;
  height: 2.5em;
  padding: auto 0.2em;
  text-align: center;
  width: 9em;
}

.background__setting .setting__rename .rename__input::placeholder {
  font-size: 0.9rem;
}

.background__setting .setting__rename .rename__input:focus {
  background-color: var(--dark-gray);
  outline: none;
  transition: 1s;
}

/* TODO: Remove animation of switches when resizing screen
   border-radius, width, height
*/

.background__setting .twenty-four-hour__toggle,
.background__setting .dark-theme__toggle,
.background__setting .left-menu__toggle {
  display: inline-block;
  height: 1.2em;
  position: relative;
  width: 2.6em;
}

.twenty-four-hour__toggle .toggle__switch,
.dark-theme__toggle .toggle__switch,
.left-menu__toggle .toggle__switch {
  height: 0;
  opacity: 0;
  width: 0;
}

.twenty-four-hour__toggle .toggle__slider,
.dark-theme__toggle .toggle__slider,
.left-menu__toggle .toggle__slider {
  background-color: var(--white);
  border-radius: 0.6em;
  bottom: 0;
  cursor: pointer;
  height: 1.2em;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.twenty-four-hour__toggle .toggle__slider::before,
.dark-theme__toggle .toggle__slider::before,
.left-menu__toggle .toggle__slider::before {
  background-color: rgb(180, 180, 180);
  border-radius: 50%;
  bottom: 0.15em;
  content: "";
  height: 0.9em;
  left: 0.15em;
  position: absolute;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  width: 0.9em;
}

.toggle__switch:checked + .toggle__slider,
.toggle__switch:checked + .toggle__slider,
.toggle__switch:checked + .toggle__slider {
  background-color: #72e07b;
}

.toggle__switch:checked + .toggle__slider::before,
.toggle__switch:checked + .toggle__slider::before,
.toggle__switch:checked + .toggle__slider::before {
  transform: translateX(1.4em);
  -ms-transform: translateX(1.4em);
  -webkit-transform: translateX(1.4em);
}

.reset__button {
  background-color: #f2480d;
  border: none;
  border-radius: 0.7em;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font);
  font-size: 1rem;
  height: 1.5em;
  text-transform: uppercase;
  width: 4em;
}

@media screen and (min-width: 1024px) {
  .background__setting {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 260px) {
  .background__setting {
    display: none;
  }
}
