/* TODO: Let users know that they should press enter */
.form-background {
  align-items: center;
  background-color: var(--dark-gray);
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
}

/* Sign in */
.form-background .form-background__sign-in {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 10em;
  justify-content: center;
  margin: auto 1em;
  position: relative;
  text-transform: uppercase;
  width: 18em;
}

.form-background .form-background__sign-in h1 {
  margin: 0.2em 0;
}

.form-background .form-background__sign-in input {
  background-color: var(--dark-gray);
  border: none;
  border-radius: 1em;
  color: var(--white);
  font-family: inherit;
  font-size: 1rem;
  height: 2em;
  margin-top: 1em;
  text-align: center;
  width: 15em;
}

.form-background .form-background__sign-in input:focus {
  background-color: rgba(0, 0, 0, 0.9);
  outline: none;
  transition: var(--focus-transition);
}

.form-background .form-background__sign-in .sign-in__message {
  color: #66b46c;
  font-size: 0.8rem;
  margin-top: 0.5em;
  text-transform: none;
}

@media screen and (max-width: 260px) {
  .form-background {
    display: none;
  }
}
