.background {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  /* background-image: url("https://source.unsplash.com/random/1920x1080"); */
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  /* width: 100vw; */
}

.background__calendar,
.background__clock .clock__am-pm {
  text-transform: uppercase;
}

.background__calendar {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.background__clock {
  font-size: 8rem;
  font-weight: bold;
}

.background__clock .clock__am-pm {
  font-size: 3rem;
}

.background__greeting {
  font-size: 1.5rem;
}
